html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 3rem;
  padding: 0;

}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
}

header {
  background-color: #ffe500;
  text-align: center;
  padding: .25em;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .5em;
}

ul {
  color: #fff;
  list-style: none;
  padding: 0;
  font-size: 1.125rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  background-color: #b2a212;
  padding: .5rem;
  border-radius: .25em;
  font-weight: 600;
}

nav li {
  display: inline-block;
}

nav a:hover {
  background-color: #cc1465;
}

img {
  width: 100%;
}

figcaption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #2f2d13;
  font-family: Georgia, serif;
}

p {
  line-height: 1.5;
  color: #2f2d13;
}

.current {
  background-color: #b20953;
}

body {
  margin: 0;
}
